<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create user</h1>
    <form action="register" method="post">
        <input type="text" name="username" placeholder="Enter your User Name" id="">
        <input type="text" name="name" placeholder="Enter your Name" id="">
        <input type="text" name="email" placeholder="Enter your email" id="">
        <input type="text" name="password" placeholder="Enter your password" id="">
        <input type="text" name="age" placeholder="Enter your age" id="">
        <input type="submit" value="Create-user">
    </form>
</body>
</html>